<div class="d-flex gap-2">
    {% include '@SyliusShop/product/show/content/info/summary/add_to_cart/submit.html.twig' %}
    {% include '@BitBagSyliusWishlistPlugin/Common/_addToWishlist.html.twig' %}
</div>
