services:
    bitbag_sylius_wishlist_plugin.command_handler.wishlist.add_products_to_wishlist_handler:
        class: BitBag\SyliusWishlistPlugin\CommandHandler\Wishlist\AddProductsToCartHandler
        arguments:
            - "@session.flash_bag"
            - '@translator'
            - "@sylius.order_modifier"
            - '@sylius.repository.order'
        tags:
            - { name: bitbag.sylius_wishlist_plugin.command_bus, bus: sylius.command_bus }

    bitbag_sylius_wishlist_plugin.command_handler.wishlist.add_product_to_wishlist_handler:
        class: BitBag\SyliusWishlistPlugin\CommandHandler\Wishlist\AddProductToWishlistHandler
        arguments:
            - "@bitbag_sylius_wishlist_plugin.factory.wishlist_product"
            - "@sylius.repository.product"
            - "@bitbag_sylius_wishlist_plugin.manager.wishlist"
        tags:
            - { name: messenger.message_handler }

    bitbag_sylius_wishlist_plugin.command_handler.wishlist.add_product_variant_to_wishlist_handler:
        class: BitBag\SyliusWishlistPlugin\CommandHandler\Wishlist\AddProductVariantToWishlistHandler
        arguments:
            - "@bitbag_sylius_wishlist_plugin.factory.wishlist_product"
            - "@sylius.repository.product_variant"
            - "@bitbag_sylius_wishlist_plugin.manager.wishlist"
        tags:
            - { name: messenger.message_handler }

    bitbag_sylius_wishlist_plugin.command_handler.wishlist.remove_product_from_wishlist_handler:
        class: BitBag\SyliusWishlistPlugin\CommandHandler\Wishlist\RemoveProductFromWishlistHandler
        arguments:
            - "@sylius.repository.product"
            - "@bitbag_sylius_wishlist_plugin.repository.wishlist"
            - "@bitbag_sylius_wishlist_plugin.repository.wishlist_product"
            - "@bitbag_sylius_wishlist_plugin.manager.wishlist"
        tags:
            - { name: messenger.message_handler }

    bitbag_sylius_wishlist_plugin.command_handler.wishlist.remove_product_variant_from_wishlist_handler:
        class: BitBag\SyliusWishlistPlugin\CommandHandler\Wishlist\RemoveProductVariantFromWishlistHandler
        arguments:
            - "@bitbag_sylius_wishlist_plugin.repository.wishlist"
            - "@sylius.repository.product_variant"
            - "@bitbag_sylius_wishlist_plugin.repository.wishlist_product"
            - "@bitbag_sylius_wishlist_plugin.manager.wishlist"
        tags:
            - { name: messenger.message_handler }

    bitbag_sylius_wishlist_plugin.command_handler.wishlist.create_wishlist_handler:
        class: BitBag\SyliusWishlistPlugin\CommandHandler\Wishlist\CreateWishlistHandler
        arguments:
            - "@security.token_storage"
            - "@bitbag_sylius_wishlist_plugin.custom_factory.wishlist"
            - "@bitbag_sylius_wishlist_plugin.resolver.shop_user_wishlist_resolver"
            - "@bitbag_sylius_wishlist_plugin.manager.wishlist"
            - "@sylius.repository.channel"
        tags:
            - { name: messenger.message_handler }

    bitbag_sylius_wishlist_plugin.command_handler.wishlist.remove_wishlist:
        class: BitBag\SyliusWishlistPlugin\CommandHandler\Wishlist\RemoveWishlistHandler
        arguments:
            - "@bitbag_sylius_wishlist_plugin.repository.wishlist"
            - "@bitbag_sylius_wishlist_plugin.manager.wishlist"
        tags:
            - { name: messenger.message_handler }

    bitbag_sylius_wishlist_plugin.command_handler.wishlist.add_selected_products_to_cart:
        class: BitBag\SyliusWishlistPlugin\CommandHandler\Wishlist\AddSelectedProductsToCartHandler
        arguments:
            - '@sylius.order_item_quantity_modifier'
            - "@sylius.order_modifier"
            - '@sylius.repository.order'
            - '@bitbag_sylius_wishlist_plugin.services.product_processing_checker'
        tags:
            - { name: bitbag.sylius_wishlist_plugin.command_bus, bus: sylius.command_bus }

    bitbag_sylius_wishlist_plugin.command_handler.wishlist.remove_selected_products_from_wishlist:
        class: BitBag\SyliusWishlistPlugin\CommandHandler\Wishlist\RemoveSelectedProductsFromWishlistHandler
        arguments:
            - "@sylius.repository.product_variant"
            - "@sylius.manager.order"
            - "@session.flash_bag"
            - "@translator"
        tags:
            - { name: bitbag.sylius_wishlist_plugin.command_bus, bus: sylius.command_bus }

    bitbag_sylius_wishlist_plugin.command_handler.wishlist.import_from_csv:
        class: BitBag\SyliusWishlistPlugin\CommandHandler\Wishlist\ImportWishlistFromCsvHandler
        arguments:
            - '@bitbag_sylius_wishlist_plugin.controller.action.add_product_variant_to_wishlist'
            - "@sylius.repository.product_variant"
            - "%bitbag_sylius_wishlist_plugin.parameters.allowed_mime_types%"
            - "@bitbag_sylius_wishlist_plugin.custom_factory.csv.serializer"
            - "@session.flash_bag"
            - '@translator'
        tags:
            - { name: bitbag.sylius_wishlist_plugin.command_bus, bus: sylius.command_bus }

    bitbag_sylius_wishlist_plugin.command_handler.wishlist.export_to_csv:
        class: BitBag\SyliusWishlistPlugin\CommandHandler\Wishlist\ExportWishlistToCsvHandler
        arguments:
            - "@bitbag_sylius_wishlist_plugin.custom_factory.csv_wishlist_product"
            - "@bitbag_sylius_wishlist_plugin.custom_factory.csv.serializer"
        tags:
            - { name: bitbag.sylius_wishlist_plugin.command_bus, bus: sylius.command_bus }

    bitbag_sylius_wishlist_plugin.command_handler.wishlist.export_selected_products_from_wishlist_to_pdf:
        class: BitBag\SyliusWishlistPlugin\CommandHandler\Wishlist\ExportSelectedProductsFromWishlistToPdfHandler
        arguments:
            - "@bitbag_sylius_wishlist_plugin.services.exporter"
        tags:
            - { name: messenger.message_handler, bus: sylius.command_bus }

    bitbag_sylius_wishlist_plugin.command_handler.wishlist.add_product_to_selected_wishlist_handler:
        class: BitBag\SyliusWishlistPlugin\CommandHandler\Wishlist\AddProductToSelectedWishlistHandler
        arguments:
            - "@bitbag_sylius_wishlist_plugin.factory.wishlist_product"
            - "@bitbag_sylius_wishlist_plugin.repository.wishlist"
        tags:
            - { name: messenger.message_handler }

    bitbag_sylius_wishlist_plugin.command_handler.wishlist.create_new_wishlist_handler:
        class: BitBag\SyliusWishlistPlugin\CommandHandler\Wishlist\CreateNewWishlistHandler
        arguments:
            - "@bitbag_sylius_wishlist_plugin.repository.wishlist"
            - "@security.token_storage"
            - "@bitbag_sylius_wishlist_plugin.factory.wishlist"
            - "@bitbag_sylius_wishlist_plugin.resolver.wishlist_cookie_token_resolver"
            - "@sylius.repository.channel"
            - "@bitbag_sylius_wishlist_plugin.checker.wishlist_name_checker"
        tags:
            - { name: messenger.message_handler }

    bitbag_sylius_wishlist_plugin.command_handler.wishlist.copy_selected_products_to_other_wishlist:
        class: BitBag\SyliusWishlistPlugin\CommandHandler\Wishlist\CopySelectedProductsToOtherWishlistHandler
        arguments:
            - "@bitbag_sylius_wishlist_plugin.repository.wishlist"
            - "@bitbag_sylius_wishlist_plugin.services.duplicator"
        tags:
            - { name: bitbag.sylius_wishlist_plugin.command_bus, bus: sylius.command_bus }
