<div class="ui dropdown button">
    <i class="angle down icon"></i>
    <span class="text">with selected</span>
    <div class="menu">
        <div class="item">
            <i class="copy icon"></i>
            Copy to wishlist
        </div>
        <div class="item">
            <i class="times icon"></i>
            Remove
        </div>
        <div class="item">
            <i class="cart icon"></i>
            Add to cart
        </div>
    </div>
</div>
