{% if app.user %}
    {% set wishlists = findAllByShopUserAndToken(app.user) %}
{% else %}
    {% set wishlists = findAllByAnonymous() %}
{% endif %}
<div class="bitbag copy-modal-initialization" data-bb-copy-to-wl-popup="wishlist-copy-popup">
    <article class="copy-confirmation-modal">
            <header class="copy-confirmation-modal__header">
                <h2 class="copy-confirmation-modal__header--title">Choose a wishlist to which selected items should be copied</h2>
            </header>
            <section class="copy-confirmation-modal__body">
                    {% for wishlistTarget in wishlists  %}
                        {% if wishlist.id != wishlistTarget.id %}               
                            <div class="copy-confirmation-modal__body--item">
                                <button
                                    type="submit"
                                    class="ui button"
                                    formaction="{{ path('bitbag_sylius_wishlist_plugin_shop_wishlist_copy_selected_products_to_other_wishlist', { wishlistId: wishlist.id, destinedWishlistId: wishlistTarget.id }) }}"
                                    {{ sylius_test_html_attribute('wishlist-copy-to-wishlist') }}
                                    data-wishlist-name="{{ wishlist.name }}"
                                >
                                    <i class="copy icon"></i>
                                    {{ wishlistTarget.name }}
                                </button>
                            </div>                
                        {% endif %}
                    {% endfor %}
            </section>
            <section class="copy-confirmation-modal__confirm">
                <button type="button" data-bb-action="cancel" class="copy-confirmation-modal__confirm--cancel">cancel</button>
            </section>
    </article>
</div>
