includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-webmozart-assert/extension.neon

parameters:
    level: 3
    reportUnmatchedIgnoredErrors: false
    excludePaths:
    	- src/Exception
    	- tests/Integration
    	- tests/Functional
    paths:
        - src
        - tests
