
parameters:

    level: 8

    paths:
        - 'src/'

    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false

    excludes_analyse:
        # Makes PHPStan crash
        - 'src/DependencyInjection/**.php'
        - 'src/DataTransformer'


        # Test dependencies
        - 'tests/Behat/**/**.php'
