{% set wishlist = hookable_metadata.context.wishlist %}
{% set form = hookable_metadata.context.form %}

{% form_theme form '@SyliusShop/form/theme.html.twig' %}

{{ form_start(form, { attr: { class: 'bb-wishlist ui form', id: "wishlist_form" } }) }}

<div class="ui stackable" id="wishlist">
    {% hook 'sections' with { form, wishlist } %}

    <input type="hidden" data-bb-csrf="{{ csrf_token('some-name') }}"/>
</div>

{{ form_row(form._token) }}
{{ form_end(form, {'render_rest': false} ) }}
