{% set form = hookable_metadata.context.form %}
{% set variant = hookable_metadata.context.item.wishlistProduct.variant %}
{% set product = variant.product %}

<td data-bb-checkboxes="checkboxes-update-when-main" class="text-end">
    {{ form_widget(form.selected, { id: product.name, label: false }) }}
</td>
