{% set form = hookable_metadata.context.form %}
{% set variant = hookable_metadata.context.item.wishlistProduct.variant %}
{% set product = variant.product %}

<td class="bb-wishlist-item-quantity" {{ sylius_test_html_attribute('wishlist-item-quantity') }} >
    {{ form_widget(form.cartItem.cartItem.quantity, {
        'attr': {
            'min': 0,
            'data-product-name': product.name,
            'value': form.cartItem.cartItem.quantity.vars.value is same as("0") ? 1 : form.cartItem.cartItem.quantity.vars.value
        }
    }) }}
</td>
