{% set wishlist = hookable_metadata.context.wishlist %}

<div class="dropdown-item">
    <button type="submit" class="btn btn-light w-100" {{ sylius_test_html_attribute('wishlist-remove-selected-from-wishlist') }} formaction="{{ path('bitbag_sylius_wishlist_plugin_shop_locale_wishlist_remove_selected_products', { wishlistId: wishlist.id }) }}">
        {{ ux_icon('mdi:remove') }}
        {{ 'bitbag_sylius_wishlist_plugin.ui.remove'|trans }}
    </button>
</div>
