{% set wishlist = hookable_metadata.context.wishlist %}

<div class="bb-wishlist-list-wrapper-content-name">
    <a
        href="{{ path('bitbag_sylius_wishlist_plugin_shop_locale_wishlist_show_chosen_wishlist', {'wishlistId': wishlist.id}) }}"
        {{ sylius_test_html_attribute('wishlist-wishlist') }}
        data-wishlist-name="{{ wishlist.name }}"
        class="link-reset h3"
    >
        {{ wishlist.name == null ? 'bitbag_sylius_wishlist_plugin.ui.wishlist'|trans : wishlist.name|trans }}
    </a>
</div>
