<div style="margin-top: 1rem; text-align: center; width: 100%">
    <a href="{{ path('bitbag_sylius_wishlist_plugin_shop_wishlist_add_product', {'productId': product.id}) }}" class="ui icon labeled button blue">
        <i class="icon heart"></i>
        {{ 'bitbag_sylius_wishlist_plugin.ui.add_to_wishlist'|trans }}
    </a>
</div>
