<a
    href="{{ path('bitbag_sylius_wishlist_plugin_shop_wishlist_add_product', {'productId': product.id}) }}"
    class="bitbag-add-to-wishlist ui icon labeled button blue"
    data-product-name="{{ product.name }}"
    {{ sylius_test_html_attribute('wishlist-add-product') }}
>
    <i class="icon heart"></i>
    Add to
    <select>
        {% for wishlist in injectWishlists()  %}
            <option value="wl-name"> {{ wishlist.name }}</option>
        {% endfor %}
    </select>
</a>