<a
    href="{{ path('bitbag_sylius_wishlist_plugin_shop_wishlist_remove_product_variant', { wishlistId: wishlist.id, variantId: variant.id }) }}"
    class="ui circular icon button"
    data-product-name="{{ product.name }}"
    data-tooltip="{{ 'bitbag_sylius_wishlist_plugin.ui.remove_from_wishlist'|trans }}"
    {{ sylius_test_html_attribute('wishlist-remove-item') }}
>
    <i class="icon remove"></i>
</a>
