<a
    href="{{ path('bitbag_sylius_wishlist_plugin_shop_wishlist_remove_product_variant', { variantId: variant.id }) }}"
    class="bitbag-remove-from-wishlist ui circular icon button"
    data-product-name="{{ product.name }}"
    data-tooltip="{{ 'bitbag_sylius_wishlist_plugin.ui.remove_from_wishlist'|trans }}"
>
    <i class="icon remove"></i>
</a>
